
szocsata_android/.idea/vcs.xml
szocsata_android/.idea/misc.xml
szocsata_android/.idea/compiler.xml
szocsata_android/.idea/gradle.xml
szocsata_android/.idea/jarRepositories.xml
*.exe
*.ilk
*.pdb
szocsata_pc/.vs/szocsata/v14/.suo
*.ipch
*.db
*.opendb
*.obj
*.enc
*.log
*.pch
*.res
*.tlog
*.idb
szocsata_pc/.vs/szocsata/v14/.suo
szocsata_pc/.vs/szocsata/v14/.suo
szocsata_pc/enc_temp_folder/c1b41d3dba23c75744c3178d3cce8217/Renderer.cpp
*.db
szocsata_pc/szocsata/Renderer.cpp~
szocsata_pc/.vs/szocsata/v14/.suo
*.db
szocsata_pc/.vs/szocsata/v14/.suo
szocsata_pc/.vs/szocsata/v14/.suo
*.db
szocsata_pc/.vs/szocsata/v14/.suo
*.TMP
szocsata_pc/.vs/szocsata/v14/.suo
szocsata_pc/szocsata/GameManager.cpp~
szocsata_pc/szocsata/BoardTilesModelData.cpp
szocsata_pc/szocsata/BoardTilesModelData.h
